{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "target": "es3",
    "loose": false,
    "minify": {
      "compress": true,
      "mangle": true
    }
  },
  "minify": true,
  "isModule": true
}